/* colors.css */

/* Color Variables */
:root {
    --oxford-blue: #002147;
    --prussian-blue: #2F3C52;
    --steel-blue: #4682B4;
    --light-grey: #f5f5f5;
    --dark-grey: #333333;
    --light-grey-alt: #D3D3D3;
    --white: #ffffff;
}

/* Applying Colors */
body {
    background-color: var(--light-grey);
    color: var(--dark-grey);
}

.header {
    background-color: var(--oxford-blue);
    color: var(--white);
}

.nav {
    background-color: var(--prussian-blue);
}

.nav a {
    color: var(--white);
}

.nav a:hover {
    color: var(--steel-blue);
}

.footer {
    background-color: var(--prussian-blue);
    color: var(--white);
}
